/* Regla general */
* {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
}

/* Header */

header {
  display: flex;
  padding: 30px 10%;
  justify-content: space-between;
  align-items: center;
}

header img {
  width: 8rem;
  height: auto;
  position: relative;
  float: left;
}

li,
a,
button {
  text-align: right;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 20px;
}

.nav-links li a {
  transition: all 0.3s ease 0s;
}

.nav-links li a:visited {
  color: #000;
}

.nav-links li a:hover {
  color: #3d9df2;
}

button {
  padding: 9px 25px;
  background-color: rgb(231, 228, 228);
  color: #3d9df2;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #3d9df2;
  color: #fff;
}

/* Imagen con texto */

body div img {
  width: 50%;
  height: auto;
  float: right;
}

.container {
  padding: 3rem;
}

.text {
  position: relative;
  font-size: 40px;
  color: #000;
  font-weight: 500;
  top: 10rem;
}

.text span {
  color: #3d9df2;
}

.container p {
  color: #767676;
}
