/* Regla general */
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #efefef;
  width: 100%;
  position: fixed;
  z-index: 100;
}

header nav img {
  width: 5rem;
  height: auto;
  position: relative;
  padding: 8px 12px;
  float: left;
}

nav {
  display: flex;
  top: 0;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
}

.contenedor {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}
.form {
  width: 300px;
  height: 350px;
  padding-top: 200px;
  background-color: rgb(200, 215, 203);
  border-radius: 20px;
  text-align: center;
}

input {
  border: none;
  border-radius: 5px;
}

button {
  border-radius: 5px;
  background-color: rgb(44, 44, 131);
  color: aliceblue;
}

button:hover {
  background-color: rgb(198, 198, 210);
  color: black;
}
