body {
  overflow: hidden;
  font-family: "rubik", verdana, sans-serif;
}
.bg-primary {
  background-color: rgb(255, 255, 255) !important;
}
.d-flex{
  padding-top: 10px;
}
#sidebar-container {
  width: 21rem;
  padding: 20px;
  height: 100%;
  padding-top: 50px;
}

a {
  text-decoration: none;
  color: rgb(55, 55, 55);
}
a:hover {
  text-decoration: none;
  color: rgb(17, 170, 230);
}

#menuabajo {
  padding: 20px 0px;
}


.menu img {
  opacity: 80%;
  margin-right: 12px;
}
.app {
  font-size: 18px;
  font-weight: 450;
  color: rgb(72, 72, 72);
}

header {
  height: 78px;
  padding: 18px 26px 20px 25px;
  box-shadow: rgb(231 238 255 / 50%) 0px 8px 20px 0px;
  min-width: 480px;
}
header img {
  width: 8rem;
  height: auto;
  position: relative;
  float: left;
}
header .mj-bienvenida {
  font-size: 24px;
  font-weight: 450;
  color: rgb(8, 137, 188);
  text-align:center;   
  }
  

header .avatar {
  max-width: 45px;
  float:right;
}

header .nombre-usuario {
  font-size: 16px;
  font-weight: 450;
  color: rgb(72, 72, 72); 
  margin-left: 150px;
  margin-top: 16px;
}

header button {
  float: right;
  padding: 9px 25px;
  background-color: rgb(240, 240, 240);
  color: #3d9df2;
  border: 1px solid #3d9df2;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
header button:hover {
   background-color: #3d9df2;
  color: #fff;
}


@media screen and (max-width: 768px){  
  .col-md-6{
    margin-top: 0px;
  }
  header .mj-bienvenida{
    display: none;
  }
  header .nombre-usuario{
    display: none;
  }
  header .avatar{
    margin-bottom: 0px;
  }

  header button{
    display: none;
  }
}

@media screen and (max-width: 1200px){  
 
   header .mj-bienvenida{
    display: none;
  }  
  header .nombre-usuario{
    display: none;
  }
}
