.form {
  width: 300px;
  height: 400px;
  background-color: rgb(205, 218, 208);
  border-radius: 20px;
  text-align: center;
}

input {
  border: none;
  border-radius: 5px;
}

button {
  border-radius: 5px;
  background-color: rgb(44, 44, 131);
  color: aliceblue;
}

button:hover {
  background-color: rgb(198, 198, 210);
  color: black;
}
